@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Time for Hell</h1>
    <p>Learn more about ADCD <a href="https://www.acdc.com/">Music of Ledgends here!</a></p>
</div>
    
<canvas id="canvas" width="150" height="150">The current time</canvas>



<iframe style="display: block; margin: auto;" width="526" height="330" src="https://www.youtube.com/embed/pAgnJDJN4VA" frameborder="0" allowfullscreen></iframe>